/* General */
body {
    font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    text-align: center;
    background-color: #008080;
    color: white;
    padding: 1rem 0;
}

.subtitulo {
    font-size: 1.2rem;
}

nav a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #00ced1;
    color: white;
    border-radius: 5px;
}

nav a:hover {
    background-color: #20b2aa;
}

.categoria {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 800px;
    border: 1px solid #ddd;
    background-color: white;
}

.instrumento {
    display: inline-block;
    width: 48%;
    margin: 1%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f0f8ff;
}

.instrumento h3 {
    color: #008b8b;
}

/* Pseudoclases */
.instrumento:hover {
    background-color: #e6f9ff;
}

.estafa .instrumento {
    background-color: #ffe4e1;
    border-color: #ff4500;
}

.estafa .instrumento:hover {
    background-color: #ffcccc;
}

/* Colores */
#renta-fija {
    background-color: #e0f7fa;
}

#renta-variable {
    background-color: #fffde7;
}

#criptomonedas {
    background-color: #fbe9e7;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}
